@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: Open Sans Condensed;
    /* Гарнитура шрифта */
    src: url(fonts/open-sans-condensed-v15-latin/open-sans-condensed-v15-latin-300.ttf);
    /* Путь к файлу со шрифтом */
}

html,
body {
    font-family: 'PT Sans';
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.container {
    width: 980px;
    padding-inline: 10px;
    margin: 0 auto;
}

header {
    background-color: #dcdcdc;
    padding-top: 51px;
    padding-left: 15px;
    padding-bottom: 42px;
}

.logo {
    margin: -4px 0 0 -8px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.fnumber {
    font-family: 'Open Sans Condensed';
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;
    margin: 5px 7px 0 0;
    float: right;
    margin-left: auto;
    text-align: right;
}

.afeedback {
    font-family: 'PT Sans';
    font-size: 24px;
    font-weight: 700;
    margin-top: -6px;
}

header .afeedback a {
    color: #767676;
    border-bottom: 2px #767676 dashed;
}

header a:hover {
    text-decoration: none;
}

.menu {
    background-color: #777777;
    justify-content: space-between;
    text-align: center;
    margin-bottom: -15px;
    padding: 15px 0 29px 7px;
    position: relative;
    z-index: 1000;
}

.list {
    margin: 0px;
    padding-left: 0px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.menu ul li {
    display: inline;
    list-style: none;
}

span {
    padding: 0 10px;
}

a {
    text-decoration: none;
    /* Убираем подчеркивание у ссылок */
    color: #FFFFFF;
    /* Цвет ссылки */
    text-decoration-skip-ink: none;
}

a:hover {
    text-decoration: underline;
    /* Добавляем подчеркивание при наведении курсора мыши на ссылку */
}

.slider-wrapper {
    background-color: #f8f8f8;
}

.slider {
    text-align: center;
    margin: -62px 0 0 11px;
    position: relative;
    /*z-index: -100;*/
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 34px;
    height: 58px;
}

.slider .slick-arrow.slick-prev {
    z-index: 1001;
    margin: 0 -500px;
    background: url('../third_layout-copy/img/sl-arrow_l.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    z-index: 1000;
    margin: 0 500px;
    background: url('../third_layout-copy/img/sl-arrow_r.png') 0 0 / 100% no-repeat;
}

.breadcrumbs {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    padding-top: 15px;
}

.breadcrumbs a {
    color: #767676;
    text-decoration: underline;
}

.content {}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.leftblock {}

.list__menu {
    padding: 0;
}

.list__menu a {
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.list__menu li {
    position: relative;
}

.list__menu>li {
    list-style: none;
}

.list__menu>li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: relative;
    left: 0;
    padding-left: 19px;
    margin-top: -3px;
    padding-bottom: 2px;
}

.sub-menu li {
    list-style: disc;
    color: #767676;
}

.sub-menu a {
    font-size: 14px;
    line-height: 22px;
}

.img_excel {
    width: 97px;
    height: 111px;
    position: absolute;
    top: 1123px;
    padding-left: 43px;
    display: block;
}

.price-list {
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #444444;
    text-align: -moz-center;
}

.centerblock {
    flex-direction: column;
    border-bottom: 1px solid #696969;
    padding-bottom: 46px;
}

.centerblock-wrapper {
    display: flex;
    width: 780px;
    flex-wrap: wrap;
    gap: 20px 15px;
    padding-top: 26px;
}

.product {
    background-color: #dcdcdc;
    width: 250px;
    height: 380px;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.img-catalog {
    padding: 20px 0 0 20px;
}

.under-img {
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 400;
    color: #767676;
    padding-left: 20px;
    margin-top: 14px;
}

.price {
    font-family: 'PT Sans';
    font-size: 28px;
    font-weight: 700;
    color: #444444;
    padding: 13px 0 0 17px;
}

.flex-price {
    display: flex;
    justify-content: space-between;
}

.addtobasket {
    width: 28px;
    height: 21px;
    margin-top: 43px;
    margin-left: -64px;
}

.num-page {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.565em;
    color: #767676;
    margin-top: 31px;
}

.num-page ul li {
    display: inline;
    list-style: none;
}

.num-hover:hover {
    cursor: pointer;
    font-size: 18px;
    color: #444444;
}

.company {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.company-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 199px;
    margin-bottom: 185px;
}

.company2 {
    padding-left: 60px;
}

footer {
    background-color: #777777;
    color: #FFFFFF;
    font-size: 14px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
}

.email {
    margin-top: -20px;
}

footer ul {
    padding: 0px;
    margin: 42px 0px -27px 0;
}

footer ul li {
    list-style: none;
    text-decoration: underline;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.025em;
}

a.f-menu {
    color: #FFFFFF;
    /* Цвет ссылки */
    text-decoration-skip-ink: none;
}

footer img {
    width: 36px;
    height: 38px;
    margin-top: 5px;
}

.End {
    display: flex;
    gap: 10px;
    padding-right: 17px;
    padding-bottom: 0px;
}

footer p {
    margin-top: 0px;
}

.popup {
    z-index: 1002;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #fff;
    color: #535353;
    max-width: 466px;
    padding: 25px 63px;
    position: relative;
}

.popup_title {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.popup_close {
    position: absolute;
    left: 100%;
    bottom: 100%;
    width: 27px;
    height: 27px;
    background-color: #777777;
}

.popup_text {
    text-align: center;
}

.popup_close img {
    margin: 6px;
}

.massage {
    padding-bottom: 20px;
}

.popup_content input {
    width: 341px;
    height: 42px;
    border: 1px solid #c3c3c3;
}

.popup_content input.submit {
    border: none;
    color: #fff;
    background-color: #777777;
    font-size: 17.8px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 128px;
    height: 42px;
}

input::placeholder {
    margin-left: 10px;
}

.popup_content input:focus-within {
    border-color: red;
    box-shadow: inset 0 0 6px red;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}